html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
}

.web-app {
  width: 100vw;
  min-height: 100vh;
  padding: 10px;
  background-color: rgb(20, 20, 20);
  color: white;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metadata-container {
  width: 100vw;
  height: 500px;
}

.metadata-row {
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metadata-element {
  padding: 10px;
  font-size: medium;
  font-weight: bold;
}

.command-button {
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(183, 63, 33);
  color: white;
  font-size: medium;
}

.command-buttons-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 5px;
}

h1.timer {
  font: monospace;
  font-variant-numeric: tabular-nums;
  font-size: 150px;
  width: 100vw;
  display: grid;
  align-items: center;
  padding: 10px;
  color: rgb(190, 221, 241);
}

.metadata-blockset {
  width: 100vw;
  display: block;
  height: 200px;
  justify-content: center;
}

.blank-container {
  font-weight: bold;
  padding: 10px;
  color: red;
}